
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300');

header, section {
	background-color: white;
}

h1 {
	/*margin: 20px;*/

	
}
h2 {
	/*background-color: #db2d63 ; #de333f = rouge #ed9f00 | #eda700 = orange eda700b3 = jaune */ 
	color: white;
	text-align: center;
	padding:5vh;
	font-weight:bold;
}
#allerplusloin h2, #sectionExercices h2
{
	color:#035a60;
}
h1,h2{
	font-family: 'Montserrat', sans-serif;
}
h3, p, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
.slogan {
	text-align: center;
	padding:7vh;
	font-size: 4.5vh;
}
.navbar {
    background-color: #db2d63; /*#47c0bc;*/
    width: 100%;
}
.logoNav{
	height: 30px;
}

#sectionaccueil {
	padding: 2vw;
	margin: 20px;
}

#accueil p {
	padding: 15px;
	margin: 20px;
}

#Accueil
{
	color:white;
}

#temoin2{
	text-align: right;
}
#videolinus{
	margin: 15px
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body
{
	background-color:#F6F7FA;
}
.sectionAccueil{
	background: linear-gradient(135deg, #db2d63 40%,#ee523c 60%); /*#d446514d; | d446511a = rose pale;  background-color: #fdf0e5 = rose pale;*/
}
.sectionConseils{
	background-color: #d7ecee;
}

#sectionExercices
{
	background-color:white;/* #d7ecee = couleurs bleu/vert .... #de333f = rouge*/
	padding-bottom:60px;
}
.sectionContact {
	background-color: #035a60;
	color:white;
}

.sectionContact button, .sectionConseils button, .formModal button
{
	margin:30px;
	color:white;
	border-radius: 30px;
	line-height:23px;
	background-color:#db2d63;
	border:0px;
	padding-left:15px;
	padding-right:15px;
	-moz-box-shadow: 5px 5px 5px 0px #343434;
	-webkit-box-shadow: 5px 5px 5px 0px #343434;
	-o-box-shadow: 5px 5px 5px 0px #343434;
	box-shadow: 5px 5px 5px 0px #343434;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=134, Strength=5);
	font-size:16px;
}

.sectionContact button:hover, .sectionConseils button:hover, .formModal button:hover
{
	background-color:#b61f4e;
}

.sectionConseils button a
{
	color:white;
	border:none;
}

.sectionConseils button
{
	margin-bottom:60px;
}

.allForm{
	padding-left: 35px;
}

#sectionExercices .col-6 h4, #sectionExercices .col-md-3 h4
{
	background-color:#db2d63;
	color:white;
}
#sectionExercices .card
{
	background-color:#ee523c;
	border:solid 3px #db2d63;
}


.logo{
	width: 200px;
}
.logoAcc {
	width: 300px;
	padding-bottom: 40px;
	padding-left: 50px;
}
.intro{
	padding-top: 20px;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 5vh;
	text-align:justify;
}

#sectionExercices .modal-dialog
{
	max-width:1000px;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}

#sectionExercices .modal-header h3, #sectionExercices .modal-footer button
{
	margin:auto;
}

#sectionExercices .close
{
	margin-left:0px;
}

#sectionExercices .modal p
{
	margin:15px;
}

#sectionExercices h2, #sectionExercices h4
{
	text-align:center;
}

#sectionExercices h2
{
	margin-bottom:30px;
}

#sectionExercices .row .col-6, #sectionExercices .row .col-md-3
{
	margin-top:15px;
	margin-bottom:15px;
	width:200px;
	height:200px;
}

#sectionExercices .row .col-6
{
	padding-left:5px;
	padding-right:5px;
}

#sectionExercices .row
{
	margin:0px;
	padding:15px;
	padding-top:0px;
	padding-bottom:0px;
	width:100%;
}

#sectionExercices .row .card
{
	width:100%;
	margin:auto;
	overflow:auto;
}

.container
{
	background-color:white;
	padding-top:56px;
	padding:0px;
	margin-bottom:30px;
}

@media (min-width: 576px)
{
	.container{
	-moz-box-shadow: 1px 1px 60px 0px #656565;
	-webkit-box-shadow: 1px 1px 60px 0px #656565;
	-o-box-shadow: 1px 1px 60px 0px #656565;
	box-shadow: 1px 1px 60px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=60);
	}
}

.conseils
{
	margin:20px;
	margin-bottom: 50px;
}
#materiaux 
{
	background: linear-gradient(135deg, #db2d63 40%,#ee523c 60%);
	color:white;
}

#materiaux .media p
{
	text-align: justify;
}
#materiaux .conseils p
{
	text-align: justify;
}
#allerplusloin  img
{
	float: right;
}
#materiaux .mr-3
{
	width: 150px;
	height: 150px;
}
#allerplusloin .ml-3
{
	width: 250px;
	height: 150px;
}

#allerplusloin .cadre
{
	padding: 10px;
	overflow: auto;
}


@media all and (min-width: 768px){
	.formModal{
		visibility: hidden;
		display:none;
	}
}

@media all and (max-width: 768px){
	.allForm{
		display: none;
	}
}

.carousel-inner p
{
	font-size:24px;
}

.carousel-inner h5
{
	font-size:50px;
}

.carousel
{
	width:100%;
	margin-left:15px;
	margin-right:15px;
}

@media (max-width: 399.98px) 
{
	header .row
	{
		display:none;
	}
}

@media (min-width: 400px) 
{
	.sliderMobile
	{
		display: none;
	}
}

.sliderMobile
{
	width:100%;
}

#materiaux .col-lg-6, #materiaux .col-xs-12
{
	padding:45px;
}

.sectionConseils h4
{
	padding:30px;
}

.cadre p
{
	text-align:justify;
}

#temoignages .media
{
	padding:30px;
}

#temoignages
{
	background: linear-gradient(135deg, #db2d63 40%,#ee523c 60%);
	color:white;
}

form
{
	margin-right:45px;
}

#materiaux h5, #allerplusloin h4, #allerplusloin h5, #temoignages h5
{
	font-weight:bold;
}