
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300');

header, section {
	background-color: white;
}

h1 {
	margin: 20px;
	
}
h2 {
	background-color: #f3aa00 ; /*#de333f = rouge #ed9f00 | #eda700 = orange eda700b3 = jaune */ 
	color: white;
	text-align: center;
}
h1,h2{
	font-family: 'Montserrat', sans-serif;
}
h3, p, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
.slogan {
	text-align: center;
}
.navbar {
    background-color: #f3aa00; /*#47c0bc;*/
    width: 100%;
}

#sectionaccueil {
	padding: 15px;
	margin: 20px;
}

#accueil p {
	padding: 15px;
	margin: 20px;
}


#temoin2{
	text-align: right;
}
#videolinus{
	margin: 15px
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body
{
	background-color:#F6F7FA;
}
.sectionAccueil{
	background-color: #fdf0e5; /*#d446514d; | d446511a = rose pale*/
}
.sectionConseils{
	background-color: #d7ecee;
}

#sectionExercices
{
	background-color:white;/* #d7ecee = couleurs bleu/vert .... #de333f = rouge*/
}
.sectionContact {
	background-color: #fdf0e5;
}

#sectionExercices .col-6 h4, #sectionExercices .col-md-3 h4
{
	background-color:#f3f3f3;
	color:#484c4f;
}


#sectionExercices .modal-dialog
{
	max-width:1000px;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}

#sectionExercices .modal-header h3, #sectionExercices .modal-footer button
{
	margin:auto;
}

#sectionExercices .close
{
	margin-left:0px;
}

#sectionExercices .modal p
{
	margin:15px;
}

#sectionExercices h2, #sectionExercices h4
{
	text-align:center;
}

#sectionExercices h2
{
	color:white;
}

#sectionExercices .row .col-6, #sectionExercices .row .col-md-3
{
	margin-top:30px;
	margin-bottom:30px;
	width:200px;
	height:200px;
}

#sectionExercices .row
{
	margin:0px;
	width:100%;
}

#sectionExercices .row .card
{
	width:100%;
	margin:auto;
	overflow:auto;
}

.container
{
	background-color:white;
	padding-top:56px;
	padding:0px;
	-moz-box-shadow: 1px 1px 60px 0px #656565;
	-webkit-box-shadow: 1px 1px 60px 0px #656565;
	-o-box-shadow: 1px 1px 60px 0px #656565;
	box-shadow: 1px 1px 60px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=60);
}
.conseils
{
	margin-bottom: 50px;
}
#materiaux 
{
	background-color: #22338080;
}
#materiaux .media p
{
	text-align: justify;
}
#materiaux .conseils p
{
	text-align: justify;
}
#allerplusloin  img
{
	float: right;
}
#materiaux .mr-3
{
	width: 150px;
	height: 150px;
}
#allerplusloin .ml-3
{
	width: 250px;
	height: 150px;
}

#allerplusloin .cadre
{
	borr: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	overflow: auto;
}


@media all and (min-width: 768px){
	.formModal{
		visibility: hidden;
	}
}

@media all and (max-width: 768px){
	.allForm{
		display: none;
	}
}

<<<<<<< HEAD
=======
.carousel-inner p
{
	font-size:24px;
}

.carousel-inner h5
{
	font-size:50px;
}

.carousel
{
	width:100%;
	margin-left:15px;
	margin-right:15px;
}

@media (max-width: 399.98px) 
{
	header .row
	{
		display:none;
	}
}

@media (min-width: 400px) 
{
	.sliderMobile
	{
		display: none;
	}
}

.sliderMobile
{
	width:100%;
}


>>>>>>> master
